body{
	max-width: 1000px
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	}
#bloc_page{
	border-radius: 5px;
	max-width: 1000px;
	margin: 0px auto;
}

h1, h2, .p{
	text-align: center;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
li{
	margin-right: 20px;
}

#banniere{
	height: 400px;
	background-image: url("images/fond.jpg");
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#bakelimage{
	width: 150px;
	border-radius: 5px;
	margin-bottom:20px;
}
#bannieresous2{
	background-color: grey;	
	color: white;
	width: 210px;
	text-align: center;
}
#bannieresous3, .t{
	text-align: center;
	width: 300px;
}

#programme{
	margin: 20px 20px;
	display: flex;
	justify-content: center;	
}
#p1, #p2, #p3{
	display: flex;
	flex-direction: column;
	padding: 10px;
	justify-content: center;
	align-items: center;
}
.ima{
	border: 2px solid green;
	border-radius: 140px;
	width: 150px;
}
#langages{
	width: 100%;
	height: 170px;
}
.im1, .im2, .im3, .im4{
	width: 25%;
	height: 50%;
	float: left;
}
.im5, .im6, .im7, .im8{
	width: 25%;
	height: 50%;
	float: left;
}
#cont{
	display: flex;
	justify-content: flex-start;
}
#cont1, #cont2{
	margin: 10px 10px;
	width: 400px;
	height: 100%;
}
.d1, .d2{
	width: 300px;
	height: 100px;
}
#sl1, #sl2{
	width: 100%;
	height: 20%;
	background-color: grey;
	border-radius: 5px;
	box-shadow: inset 5px 5px 10px #2c2c2c,
				inset -5px -5px 10px #5c5c5c;
}
#sl3, #sl4{
	width: 100%;
	height: 20%;
	background-color: grey;
	border-radius: 5px;
	box-shadow: inset 5px 5px 10px #2c2c2c,
				inset -5px -5px 10px #5c5c5c;
}
.bar{
	padding: 10px 0px;
	border-radius: 5px;
}
#pratique{
	background: green;
	width: 100%;
}

#opportunite{
	background: green;
	width: 80%;
}
#insertion{
	background: green;
	width: 90%;
}
#dp{
	background: green;
	width: 60%;
}
#al{
	display: flex;
	justify-content: space-between;
}
#c3{
	padding-top: 50px;
	padding-bottom: 20px;
	display: flex;
	justify-content: space-around;
}
#team{

	background-color: green;
}
.h{
	padding-top: 15px; 
}
.h1{
	padding-top: 15px;
	padding-bottom: 20px;
	background-color: rgb(211,211,211);
}
footer{
	background-color:  rgb(211,211,211);
}
#infos{
	margin-top: 50px;
	padding-top: 10px;
}
.l{
	width: 160px; 
}
.u{
	 justify-content: center;	
}

#iba{
	width: 70px;
}
#com{
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;

}
.p{

}
#co{
	margin-top: 450px;
	margin-bottom: 50px;
}
.coach{
	background-color: white;
	text-align: center;
}
#c4{
	height: 226px;
}
a{
	text-decoration: none;
}